
.card {
    width: 120px;
}

.card-body {
    padding: 0.5em;
}

.card-text {
    margin-bottom: 0;
}

.card-title {
    margin: 0;
}

.title-and-edit-delete-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.edit-delete-button-container {
    display: flex;
    justify-items: left;
}

.title-and-edit-delete-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 1px;
}