
.card {
    width: 5vw;
}

.card-body {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.card-text {
    margin-bottom: 0;
}

.card-title {
    margin: 0;
    font-size: 0.8em;
}

.title-and-edit-delete-button-container {
    display: flex;
    flex-direction: column;
}

.edit-delete-button-container {
    display: flex;
    justify-items: left;
}

.title-and-edit-delete-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 1px;
}

.change {
    font-size: 0.5vw;
}

.danger {
    font-size: 0.5vw;
    color: red;
}

.card-text {
    font-size: 0.5vw;
}

