.game-board-container {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.game-board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-board-slot-container {
    margin: 0;
    padding: 0;
}
