.game-board-container {
    display: flex;
    flex-direction: column;
}

.game-board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-board-slot-container {
    margin: 0;
    padding: 0;
}
/*}*/

/*.game-board-row {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*}*/

/*.game-board-slot {*/
/*    height: 149px;*/
/*    width: 115px;*/
/*    background:darkseagreen;*/
/*    border: black solid 1px;*/
/*}*/